<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

<div id="wrapper">
<main>
    <img src="/pictures/students_grad.jpg" alt="College image">

    <main class="main-body">
        <h1>Welcome to the University of Kul Tiras</h1>
        <p>
            <script type="text/javascript">
              writeRandomQuote = function () {
                var quotes = new Array();
                quotes[0] = "Action is the real measure of intelligence.";
                quotes[1] = "Baseball has the great advantage over cricket of being sooner ended.";
                quotes[2] = "Every goal, every action, every thought, every feeling one experiences, whether it be consciously or unconsciously known, is an attempt to increase one's level of peace of mind.";
                quotes[3] = "A good head and a good heart are always a formidable combination.";
                var rand = Math.floor(Math.random()*quotes.length);
                document.write(quotes[rand]);
              }
              writeRandomQuote();
            </script>  <br>
            Ivy Tech Community College (Ivy Tech) is a public community college system in the U.S. state of Indiana. It is the state's public community college system and it has more than 40 locations.[1] It is also the state's largest public postsecondary institution and the nation's largest individual accredited statewide community college system serving nearly 100,000 students annually on campus and online and another 60,000+ dual credit students in high schools throughout Indiana.[1] It is accredited by the Higher Learning Commission.
            <h2>Online Campus Opportunities</h2>
            Ivy Tech offers more than 150 programs and more than 100 transfer programs with in-state and out-of-state schools. Offerings vary by campus and are divided into seven schools:

School of Business, Logistics and Supply Chain
School of Public Affairs and Social Services
School of Information Technology
School of Arts, Sciences and Education
School of Health Sciences
School of Nursing
School of Advanced Manufacturing, Engineering and Applied Science
Ivy Tech offers hands-on experience with some of the state’s most advanced technologies and training facilities, plus the convenience of more than 1,000 online classes, and the attention that comes with a small average class size of 22.[1]  Ivy Tech has transfer partnerships with four-year universities/colleges across Indiana, with several out-of-state partnerships as well.
            <h2>New Students</h2>
            In most instances, people experience greater success when they know what to expect. In college, expect to find the following:

Varying Class Sizes
Class size varies depending on the course. While most classes have fewer than 40 students, larger introductory classes may have anywhere from 15-400 students. Intro classes tend to have large class sizes while upper-division classes are smaller.

The Need for Critical Thinking Skills
In college, you will be expected to understand and remember what you read. You will also be asked to draw conclusions, form opinions, and evaluate the ideas of others.

Strong Emphasis on Tests and Less Busywork
Often your class grade will depend heavily on tests and key assignments. To maximize your grade, keep up with your assignments and readings. Students who succeed do their assignments and keep up with their readings. 

The Need for Personal Responsibility
In college, you have a tremendous amount of freedom. No one is monitoring your progress. No one is checking to see if you are going to class, and no one knows whether or not you are doing your assignments. You are responsible for your own academic progress.

Consequences
UCSC has academic standards that students must meet in order to stay enrolled. Students may be placed on academic probation if their grades fall below a certain point. Students on probation must bring their grades up by a specified time. If they are unable to, they are withdrawn from the university.

Less Time in Class and More Emphasis on Independent Study
In college, you are expected to do most of your learning on your own. The general rule is: For every one hour you spend in class, you should spend two hours out of class reading, studying, and completing assignments.
            <h2>More than Just a University</h2>
            tFor the new Dean, the global dimension to Oxford Saïd is so much more than just a talking point. It’s inextricably linked, he says, to the institution’s purpose.
            <h2>Reviews</h2>
            Check our reviews from real students! <a href="http://www.studentsreview.com/">Click here</a>
        </p>
        <h2>Established since 1894</h2>
</main>
<%- include('./partials/footer.ejs') %>
</div>

</body>

</html>
